[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
fastapi = "*"
python-dotenv = "*"
aiolimiter = "*"
tenacity = "*"
langchain-groq = "*"
beautifulsoup4 = "*"
gTTS = "*"

[dev-packages]

[requires]
python_version = "3.12"
